body {
  background-image: url(assets/pexels-aaditya-arora-592753.jpg);
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  /* new */
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.clock-container {
  backdrop-filter: blur(3px);
  width: 100%;
  padding: 10px 0;
}
.clock {
  color: white;
  font-size: 6rem;
  font-weight: bold;
  font-family: sans-serif;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75);
}
